.appointment-booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/images/background_App.jpg');
    opacity: 0.6;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: 'Calibri', sans-serif; /* Set Calibri as the font for all text */
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #2b2b2b; /* Heading color */
    margin-bottom: 15%; /* Margin below the heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add drop shadow */
    font-size: 36px; /* Adjust font size */
    font-family: 'Calibri', sans-serif; /* Set Calibri as the font for all text */
}
.searching{
    margin-top: -10%;
}

.form-group {
    margin-bottom: 5%;
    width: 450px;
    font-family: 'Calibri', sans-serif; /* Set Calibri as the font for all text */
}


select, input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    background-color:#7ea9ba;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Calibri', sans-serif; /* Set Calibri as the font for all text */
}

button:hover {
    background-color: #0056b3;
}
