.header-name{
    font-weight: bold;
    font-family: Inter;
    font-size: 25px;
    color: #007bff;
    margin-left: 25%;

}
.adddoctor-btn{
    font-weight: bold;
    font-family: Inter;
    font-size: 15px;
    color: #007bff;
    margin-left: 75%;
    margin-top: -2%;
}
.tbl-head{
    font-weight: normal;
    font-family: Inter;
    font-size: 15px;
}
.doctor-tbl{
    text-align: center;
}